body {
    background-color: black;
    color: white;
    
    font-family: "Open Sans", sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header {
    text-align: center;
}

.button {
    display: none;
    padding: 50px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, .5);
}